In [3]:
s = "This is a basic pythn class"
len(s)

27

In [6]:
count = 0
for i in s:
    count = count+1
print(count)

27

In [8]:
count = 0
for i in s:
    count+= 1
print(count)

27

In [9]:
s[::-1]

'ssalc nhtyp cisab a si sihT'

In [10]:
for i in range(len(s)-1, -1, -1):
    print(s[i])

s
s
a
l
c

n
h
t
y
p

c
i
s
a
b

a

s
i

s
i
h
T

In [13]:
i = len(s)-1
while(i>=0):
    print(s[i], end=" ")
    i =i-1

s s a l c   n h t y p   c i s a b   a   s i   s i h T

In [16]:
i = 26
while(i>=0):
    print(s[i], end=" ")
    i =i-1

s s a l c   n h t y p   c i s a b   a   s i   s i h T

In [24]:
s = "ineuron"
v = "AaEeIiOoUu"
for i in s:
    if i in v:
        print("it is a vowel",i)
    else:
            print("not a vowel", i)

it is a vowel i
not a vowel n
it is a vowel e
it is a vowel u
not a vowel r
it is a vowel o
not a vowel n

In [31]:
s = input()
v = s[::-1]
if s == v:
    print("It is a palindrome")
else:
        print("Not a palindrome")

eye
It is a palindrome

In [40]:
a = input()
i = len(a)-1
while(i>=0):
    print(a[i], end=" ")
    i =i-1

malayalam
m a l a y a l a m

In [42]:
word = "eye"
for i in range(len(word)):
    if word[i] == word[len(word)-1-i]:
        print(word, "is a palindrome")
        break
    else:
        print(word, "not a palindrome")

eye is a palindrome

In [53]:
word = 'tnent'

for i in range(len(word)):
    if word[i]!= word[len(word)-i-1]:
        print("Not a palindrome")
        break
        
else:
    print("Palindrome")

Palindrome

In [57]:
s = input()
f = ""
i = len(s)-1

while(i>=0):
    f = f+s[i]
    i = i-1
if(s==f):
    print("palindrome")
else:
    print("not a palindrome")

malayalam
palindrome

In [62]:
x = "malayalam"

w = ""
for i in x:
    w = i+w
    
if (x==w):
    print("Yes")
else:
    print("No")

Yes

In [65]:
d = {"india":"IN",
    "canada":"CA",
    "china":"CH",
    "united state":"US"
    }

In [66]:
"india" in d

True

In [67]:
d

{'india': 'IN', 'canada': 'CA', 'china': 'CH', 'united state': 'US'}

In [69]:
for i in d:
    print(i)

india
canada
china
united state

In [70]:
l_greater = []
l_smaller = []
for i in d:
    if len(i)<=5:
        l_smaller.append(i)
    else:
        l_greater.append(i)

In [71]:
l_smaller

['india', 'china']

In [72]:
l_greater

['canada', 'united state']

In [124]:
d_2 = {"ineuron":{
                "a":14,
                "b":10,
                "c":4,
                },
       
       "course": {
                   "d":45,
                   "e":34,
                   "f":1
                 }

      }

In [130]:
d_2

{'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 45, 'e': 34, 'f': 1}}

In [131]:
for i in d_2.values():
    print(i)

{'a': 14, 'b': 10, 'c': 4}
{'d': 45, 'e': 34, 'f': 1}

In [132]:
for i in d_2.values():
    for j in i.values():
        print(j)

14
10
4
45
34
1

In [146]:
lst =[]
for i in d_2.values():
    for j in i.values():
        lst.append(j)
    print(max(lst))

14
45

In [134]:
d_2

{'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 45, 'e': 34, 'f': 1}}

In [135]:
for i in d_2.values():
    mx = 0
    for j in i.values():
        if mx<j:
            mx = j
    print(mx)

14
45

In [136]:
for i in d_2.values():
    print(max(i.values()))

14
45

In [137]:
for i in d_2.keys():
    print(max(d_1[i].values()))

14
45

In [138]:
r = []
for i in d_2.values():
    
    r.append(max(i.values()))
    print(max(r))

14
45

In [91]:
d_1

{'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 45, 'e': 34, 'f': 1}}

In [156]:
d_1={'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 45, 'e': 34, 'f': 1}, "g":354, "h":[45,6,7,8,9,3], "i":(45,34,2), "k":"sudh"}

In [157]:
d_1

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 354,
 'h': [45, 6, 7, 8, 9, 3],
 'i': (45, 34, 2),
 'k': 'sudh'}

In [158]:
new_val = d_1.values()
maximum_val = max(new_val)
print("Maximum value from dict:",maximum_val)

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [159]:
l1 = []
for i in d_1.values():
    if type(i) == dict:
        l1.append(max(i.values()))
    elif type(i) == list:
        l1.append(max(i))
    elif type(i) == tuple:
        l1.append(max(i))
    elif type(i) == str:
        pass
    else:
        l1.append(i)
        print(max(l1))

354

In [164]:
## Invalid Solution.


for i in d_1.values():
    if i == int:
        mx = 0
        for j in i.values():
            if mx<j:
                print(mx)

In [166]:
l = []
for i in d_1.values():
    if type(i) == int:
        l.append(i)
    elif type(i) == list or type(i) == tuple:
        l.extend(i)
    elif type(i) == dict:
        for j in i.values():
            l.append(j)
print(max(l))

354